:root {
    --boardCircleHeight: 4vh;
    --boardCircleWidth: 4vw;
    --neutral: darkgreen;
    --neutralLight: green;
    --neutralLighter: lightgreen;
    --player1: darkblue;
    --player1Light: blue;
    --player1Lighter: lightblue;
    --player2: darkred;
    --player2Light: red;
    --player2Lighter: pink;
    --select: #66cc66;
    --unselect: lightyellow;
    --bgNeutral: radial-gradient(circle at 55% 30%, var(--neutralLight) 8%, var(--neutral) 50%, var(--neutralLight) 90%, var(--neutralLighter) 100%);
    --bgPlayer1: radial-gradient(circle at 55% 30%, var(--player1Light) 8%, var(--player1) 50%, var(--player1Light) 90%, var(--player1Lighter) 100%);
    --bgPlayer2: radial-gradient(circle at 55% 30%, var(--player2Light) 8%, var(--player2) 50%, var(--player2Light) 90%, var(--player2Lighter) 100%);
    --bgEmpty: radial-gradient(circle at 49% 51%, var(--neutral) 3%, var(--neutral) 5%, var(--neutralLight) 60%, var(--neutral) 70%);
    --trayCircleWidth: calc(2vw + 20px);
}

* {
    border: 1px solid darkolivegreen;
}

gameArea {
    user-select: none;
    display: grid;
    grid-template-columns: minmax(50px, 1fr) minmax(200px, 4fr) minmax(50px, 1fr);
    grid-template-rows: minmax(50px, 15vh) minmax(300px, 60vh) minmax(50px, max(80px, 10vh));
    grid-template-areas: 
        "leftHeader header rightHeader"
        "leftPanel board rightPanel"
        "leftFooter footer rightFooter";
    text-align: center;
}

board {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    background: linear-gradient(to bottom right, rgb(255, 255, 255) 15%, transparent 15%, transparent 85%, rgb(255, 255, 255) 85%),
    linear-gradient(to top right, rgb(255, 255, 255) 15%, transparent 15%, transparent 85%, rgb(255, 255, 255) 85%),
    linear-gradient(to top right, rgba(255,255,255,0) 49.3%, darkgoldenrod 49.5%, darkgoldenrod 50.5%, rgba(255,255,255,0) 50.7%),
    linear-gradient(to bottom right, rgba(255,255,255,0) 49.3%, darkgoldenrod 49.5%, darkgoldenrod 50.5%, rgba(255,255,255,0) 50.7%);
}

#tray {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

board > div, footer > div {
    position: relative;
    padding-top: 3%;
    color: var(--unselect);
    border-radius: 50%;
    background: var(--bgEmpty);
}

#tray1, #tray2, #tray3, #tray4, #tray5, #tray6, #tray7, #tray0 {
    width: var(--trayCircleWidth);
    height: var(--trayCircleWidth);
    font-size: calc(var(--trayCircleWidth)/2);
}

#slot1, #slot2, #slot3, #slot4, #slot5, #slot6, #slot7, #slot8, #slot0 {
    font-size: calc((var(--boardCircleHeight) + var(--boardCircleWidth))/2);
    top: calc(50% - (var(--boardCircleHeight) + var(--boardCircleWidth))/2);
    left: calc(50% - (var(--boardCircleHeight) + var(--boardCircleWidth))/2);
    width: calc(var(--boardCircleHeight) + var(--boardCircleWidth));
    height: calc(var(--boardCircleHeight) + var(--boardCircleWidth));
}

/* Horizontal connector lines */
#slot0::after,#slot3::after,#slot6::after {
    content: "";
    position: absolute;
    left: var(--boardCircleWidth);
    top: calc(50% - 0.5vh);
    width: calc(var(--boardCircleWidth) * 11);
    height: 1vh;
    background-color: darkgoldenrod;
    background: linear-gradient(gold 0%, darkgoldenrod 20%, darkgoldenrod 80%, gold 100%);
    z-index: -1;
}

/* Vertical connector lines */
#slot6::before, #slot7::before, #slot8::before {
    content: "";
    position: absolute;
    left: calc((var(--boardCircleHeight) + var(--boardCircleWidth)) / 2 - 0.5vh);
    top: -36vh;
    width: 1vh;
    height: calc(var(--boardCircleHeight) * 10);
    background-color: darkgoldenrod;
    background: linear-gradient(to right,gold 0%, darkgoldenrod 20%, darkgoldenrod 80%, gold 100%);
    z-index: -1;
}

li:nth-child(2n) {
    font-weight: 600;
}

li:nth-child(2n-1) {
    font-style: italic;
}

leftHeader {
    grid-area: leftHeader;
}

header {
    grid-area: header;
}

rightHeader {
    grid-area: rightHeader;
}

left {
    grid-area: leftPanel;
}

board {
    grid-area: board;
}

right {
    grid-area: rightPanel;
}

leftFooter {
    grid-area: leftFooter;
}

footer {
    grid-area: footer;
}

rightFooter {
    grid-area: rightFooter;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
}

rightFooter > header {
    flex-basis: 100%;
}

rightFooter > player1, rightFooter > player2 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    flex-direction: column;
    font-weight: 600;
}

leftHeader {
    grid-area: leftHeader;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
}

leftHeader > header {
    flex-basis: 100%;
}

leftHeader > player1, leftHeader > player2 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    flex-direction: column;
    font-weight: 600;
}

player1 {
    color: darkslateblue;
}
player2 {
    color: darkred;
}